@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*General styles*/ 

:root {
  background: rgb(237,241,246);
  background: linear-gradient(90deg, rgba(237,241,246,1) 45%, rgba(255,255,255,1) 100%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
font-family: 'Nunito', sans-serif;
}


h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: 1.5;
}

h3 {

    font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

p {
  font-size:var(--font-size-md);
  line-height: 1.5em;
}

li {
  font-size:var(--font-size-md);
  line-height: 1.5em;
}

.cardTextSpaceInline {
  padding: var(--spacing-md) 0 var(--spacing-lg) var(--spacing-md);
}

.cardTextSpaceInline2 {
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-lg) var(--spacing-md);
}

.cardTextSpaceOver {
  padding: var(--spacing-lg) 0 0 var(--spacing-md);
}
