:root {
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem; 
  --spacing-4xxl: 2.25rem;
  --spacing-6xxl: 2.5rem;
  --border-radius-xs: 0.5rem; 
  --border-radius-l: 2.5rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem; 
  --font-size-md: 1.125rem;
  --font-size-lg: 1.5rem; 
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @media (min-width:600px) {
  }
}


/* Cookie consent */

.cookie-banner {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #e6e6e6;
  color: #140E14;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.cookieText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cookieButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 0;
}

.BtnAgree {
  background-color:  #A376CC;
  height: 48px;
  width: 9rem;
  margin: 0 1rem;
  border-radius: var(--border-radius-xs);
}

.BtnNecess {
  border: 2px solid #666666;
  height: 48px;
  width: 9rem;
  margin: 0 1rem;
  border-radius: var(--border-radius-xs);
}
