/* Sidan där du väljer inloggningsalternativ */

.flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexContent {
    margin: 2rem 0 0 0;
    color: black;
    border: 0.2rem solid #767676;
    background-color: white;
    padding: 2rem;
    border-radius: var(--font-size-md);
}

/* Knappen till modalen som syns på QR sidan*/

.optionHeading {
  margin: 1rem 0;
}

.optionHeadline {
  margin: 0 0 1rem 0;
}

.btnModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    height: 5.5rem;
    width: 340px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: var(--border-radius-xs);
    background-color: #ffffff;
    cursor: pointer;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    list-style-type: none;


    @media (min-width: 600px) {
      width: 400px;
    }
  }

  
  .btnModal:hover {
    outline: none;

    @media (min-width:600px) {
      background-color: #ccc;
    }
  }
  .btnModal:focus {
    outline: none;

    @media (min-width:600px) {
      color: #A376CC;
    }

  }
  .btnModal:focus-within {
    outline: none;

    @media (min-width:600px) {
      outline: 3px solid #2071B5;
    }
  }

  .btnModal Link::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .BankID-wrapper {
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Text-wrapper {
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrowIcon {
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
  }
  

  .btnPass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 340px;
    border: 2px solid #ccc;
    border-radius: var(--border-radius-xs);
    background-color: #fff;
    cursor: not-allowed;
    color: #000;
    z-index: -100;
    outline: none;
    list-style-type: none;

    @media (min-width: 600px) {
      width: 400px;
    }
  }

  .userText {
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Hjälptext */ 

.cancel-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 400px;
    padding: 0.25rem;
}


.optionCancel {
    cursor: pointer;
    border: none; 
}

.optionCancel p{
  color: black;
  font-size: var(--font-size-xs);
}

.optionCancel p:hover{
  color: black;
}

.optionCancel p:focus-within{
  outline: 3px solid #2071B5;
  outline-offset: 2px;
}

.option-wrapper{
  background-color: none;
  padding: 0.1rem 0.2rem;
  outline: none;
}

/* Dropdown function med pil */

.dropContainer {
    background-color: transparent;
    border-radius: 0 0rem 1rem 1rem;
    margin: 0 0 1rem 0;
    overflow: hidden;
    padding: 0.4rem;
    outline: none;

    @media (min-width: 600px) {
      background-color: transparent;
      border-radius: 0 0rem 1rem 1rem;
      margin: 0 0 1rem 0;
      overflow: hidden;
      padding: 0.4rem;
      outline: none;
    }
}

.dropArrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}


.btnDropdown {
    background-color: transparent;
    border: none;
    font-size: var(--font-size-xl);
    padding: 1rem;
    cursor: pointer;
    outline: none;
}


.btnDropdown:focus-within {
  outline: none;

  @media (min-width: 600px) {
    outline: 3px solid #2071B5;
  }
}

.dropList {
  background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 2rem; 
    color: black;
    border-radius: var(--border-radius-xs);
}

